<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>My Receipts</h1>
      <table>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
        {% for name in receipt_list %}
        <tr>
          <td>{{ name.vendor }}</td>
          <td>{{ name.total }}</td>
          <td>{{ name.tax }}</td>
          <td>{{ name.date|date:"n/j/y" }}</td>
          <td>{{ name.category }}</td>
          <td>{{ name.account }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
